@CHARSET "ISO-8859-1";

* {
	font-size: 12px !important;
}

.ui-widget {
	font-family: arial
}

ui-widget-header {
	background: #ffffff !important;
}

.ui-panelgrid {
	border: none !important;
}

.semBorda tr,semBorda row,.semBorda td {
	border: none !important;
}

.ui-datatable table {
	color: #333333;
	font-family: 'Trebuchet MS';
	font-size: 20px;
	line-height: normal;
	line-height: 10px;
}

.ui-datatable .ui-datatable-header,.ui-datatable .ui-datatable-footer {
	color: #333333;
	font-family: 'Trebuchet MS';
	font-size: 20px;
	line-height: normal;
	line-height: 10px;
}

.ui-datatable .ui-datatable-header {
	color: #333333;
	font-family: 'Trebuchet MS';
	font-size: 12px;
	line-height: normal;
	line-height: 10px;
}

.ui-datatable th,.ui-datatable tfoot td {
	color: #333333 !important;
	font-family: 'Trebuchet MS' !important;
	font-size: 20px !important;
	line-height: normal !important;
	line-height: 15px !important;
}

.ui-datatable .ui-datatable-data td,.ui-datatable .ui-datatable-data-empty td
	{
	color: #333333;
	font-family: 'Trebuchet MS';
	font-size: 20px;
	line-height: normal;
	line-height: 10px;
}

.ui-icon.pag {
	top: 0px;
	left: 0px;
	margin: 5px 0px 0px 5px;
	background-position: 0 0 !important;
	width: 40px;
	height: 30px;
	background-image: url("../imgs/pag.png") !important;
}

.ui-icon.cancel {
	top: 0px;
	left: 0px;
	margin: 5px 0px 0px 5px;
	background-position: 0 0 !important;
	width: 40px;
	height: 25px;
	background-image: url("../imgs/cancel.png") !important;
}

.ui-icon.caixa {
	top: 0px;
	left: 0px;
	margin: 5px 0px 0px 5px;
	background-position: 0 0 !important;
	width: 40px;
	height: 25px;
	background-image: url("../imgs/caixa.png") !important;
}

.dialogs {
	width: 800px;
	height: 200px;
	font-family: sans serif;
	font-size: 8px;
	font-family: sans serif;
}

.rowGreen td {
	background-color: rgba(91, 183, 91, 0.3);
}

.rowRed td {
	background-color: rgba(218, 79, 73, 0.3);;
}

.rowGreen td:hover {
	background-color: rgb(91, 183, 91);
}

.rowRed td:hover {
	background-color: rgb(218, 79, 73);
}

.old {
	background-color: green !important;
	color: white !important;
}

.ocup {
	background-color: red !important;
}